<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.hoponcmu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".client.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".client.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".client.ListLocalsActivity" />
        <activity
            android:name=".client.SignUpActivity"
            android:label="@string/action_sign_up"/>
        <activity
            android:name=".client.ReadQuizzAnswersActivity"
            android:label="@string/title_activity_read_quizz_answers"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".client.QuizActivity"></activity>
        <activity
            android:name=".client.ShareResultsActivity"
            android:label="@string/title_share_results">
        </activity>
        <activity
            android:name=".client.ListResultsActivity"
            android:label="@string/title_list_results">
        </activity>
        <activity
            android:name=".client.MsgSenderActivity"
            android:label="@string/title_list_results">
        </activity>
        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

    </application>
</manifest>
